<!--This import is used for mapping on leaflet with bootstrap.-->
<!--Introduced 30/01/2019-->
<!--_________________________________________Persistent-JS_________________________________________-->


<!--auxiliary-->
<script src="{{url_for('static',filename='handlebars_list/typeahead.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='handlebars_list/handlebars.min.js')}}"></script>
<script src="{{url_for('static',filename='handlebars_list/list.min.js')}}"></script>

<!--leaflet-->
<script src="{{url_for('static',filename='leaflet/leaflet.js')}}"></script>
<script src="{{url_for('static',filename='leaflet/leaflet.markercluster.js')}}"></script>
