<!--This is the main import file use for data tables js. used in datatable html files-->
<!--Introduced 9/1/2019-->
<!--___________________________________Persistent-DATATABLES_____________________________________-->

<!--
<script>
$(document).ready(function() {

  $('#datatable').dataTable({

    aLengthMenu: [
      [25, 50, 100, 200, -1],
      [25, 50, 100, 200, "All"]
    ],
    iDisplayLength: -1
  });
} );
</script>
-->

<!-- dataTables-->
<script src="{{url_for('static',filename='vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
<script src="{{url_for('static',filename='vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

<!--___________________________________/Persistent-DATATABLES____________________________________-->
