<!--This html document holds leaftlet map data-->

{% from "includes/helpers/_formhelpers.html" import render_field %}

{% block title %}
{% endblock %}

{% block head %}
<link href="{{url_for('static', filename='leaflet/leaflet.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
{% endblock %}

{% block content %}

  <div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 bg-warning">
    <p style = "font-family:Impact, Charcoal, sans-serif;font-size:50px;font-style:bold;text-align:center;">
      TRACK YOUR BUS
    <img src="https://pics.mein-artikel-design.de/images/thumb/160/mousepads/196726182-moving-bus-filled-vector-icon.jpg" style="width:128px;height:128px;" class="bus"></img>
    <img src="https://cdn0.iconfinder.com/data/icons/material-design-flat/24/location-512.png" style="width:64px;height:64px;"></img>
    </p>
    <!div class = "row">
      <!p><!/p>
    <!/div>
  </div>
  <!div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 bg-warning">
    <!p><!/p>
  <!/div>
  <!div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 bg-danger">
    <!p><!/p>
  <!/div>
</div>

  <!div class="row">
    <!div class="col-sm-6 col-xs-3 col-md-3 col-lg-3 bg-primary">
      <!p></p>
    <!/div>
    <!div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 bg-warning">
      <!p></p>
    <!/div>
    <!div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 bg-danger">
      <!p></p>
    <!/div>
    <!div class="col-sm-3 col-xs-3 col-md-3 col-lg-3 bg-success">
      <!p></p>
    <!/div>
  <!/div>

  <div class="row">

    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 bg-warning">
      <table id="datatable" class="table table-striped table-bordered">
        <table>
        <thead>
          <tr>
          {% for count in range(length) %}
          <th>{{columnHead[count]}}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in routenum %}
          <tr>
          {% for count in range(length) %}
          <td>{{row[count]}}</td>
          {% endfor %}
          <td>
            <form
            <input type="button" id="myBtn" onclick="updatePoint()">Track</input>
            </form>
          </td>
          </tr>
        {% endfor %}
        </tbody>
        <tr>

        </tr>
      </table>
  </div>

  <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="container-fluid">
        <div id="mapid" style="width: {{MAPWIDTH}}px; height: {{MAPHEIGHT}}px;"></div>
      </div> <!-- /container -->
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='flask_io/socket.io.min.js')}}"></script>
<script type="text/javascript" charset="utf-8">
	var mymap = L.map('mapid').setView([2.925297, 101.642064], 15);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

  var namespace = '/meiconnect'
  var socket = io.connect('http://' + document.domain + ':' + location.port + namespace); //persistent
  socket.on('connect', function() {
      console.log("meiconnect_test connected...")});

  function updatePoint(){
    socket.emit('update');
    console.log("X");
  }

  var myIcon = L.icon( {
  iconUrl: '{{url_for("static", filename="imgres/bootleaf/gps.png")}}',
  iconSize: [30, 30],
  popupAnchor: [0,-10]
  });

L.marker([2.925297, 101.642064], {icon: myIcon});

  var pointArray2 = new Array();
  socket.on('point_data2', function(msg) {
    msg.points.forEach(function proc(element, index){
      //shelterMarkers.addLayer(shelter1);
      var currlat;
      var currlong;
      var currregno;
      console.log("yo1")

      var test = findPoint(element,pointArray2);
      var prev = element;
      console.log(test) //find the element in the array

      if((currlat!=0) && (currlong !=0)){
        if(currlat != element.lati && currlong !=element.long && currregno == element.reg_no){
          marker.remove();
          marker= L.marker([element.lati, element.long], {icon: myIcon}).bindPopup(displayregno).addTo(mymap);
          marker.openPopup();
          console.log("?")
        }
      }

      if( test != -1){
        //element already in
        console.log("Point edited on map",element)
        pointArray2[test][0] = element;
        pointArray2[test][1].setLatLng([element.lati,element.long]); //marker
      }else{
        currlat = 0.0;                                              // WANTED TO UPDATE MARKER by comparing previous latitude and logitude but fail.
        currlong = 0.0;
        currregno = 0;
        console.log("Point added to map",element)
        mymap.setView([element.lati,element.long],20)
        currregno = element.reg_no;
        displayregno = "Reg_Number =" + element.reg_no
        marker = L.marker([element.lati,element.long], {icon: myIcon}).bindPopup(displayregno).addTo(mymap)
        marker.openPopup();
        currlat =  element.lati;
        currlong = element.long;

        console.log("update?")
        setInterval(timercallback, 500);
        function timercallback() {
          marker.remove()
          marker = L.marker([element.lati,element.long], {icon: myIcon}).bindPopup(displayregno).addTo(mymap)
        }
    }

    });
    console.log("yo")
  });

  function locate(){
    mymap.locate({setView: true, maxZoom: 15});
  }



  var myIcon = L.icon( {
  iconUrl: '{{url_for("static", filename="imgres/bus_green.png")}}',
  iconSize: [30, 30],
  popupAnchor: [0,-10]
});


//Original Version//
//  L.marker([2.925297, 101.642064], {icon: myIcon}).addTo(mymap);
//  var position = 101.637735;
//  var movmarker = L.marker([2.921558, position], {icon: myIcon}).addTo(mymap)
//    .bindPopup("<b>STUPID INTERSECTION</b><br />VERY SLOW!").openPopup();
//  setInterval(timercallback, 1000);

/*	function timercallback() {
    movmarker.remove()
    position += 0.001
    console.log(position)
    movmarker = L.marker([2.921558, position], {icon: myIcon}).addTo(mymap)
      .bindPopup("<b>STUPID INTERSECTION</b><br />VERY SLOW!").openPopup();
	}
*/

  function connectserver(){
  socket.on('connect', function() {
      console.log("meiconnect_test connected...")});
}

  function findPoint(point,array){
    //checks if a point element is in the point array by comparing the ID
    var out = -1;
    array.forEach(function proc(element, index){
      if(element[0].driver_id == point.driver_id){
        out = index;
        return;
      }
    });
    return out;
  }

  var popup = L.popup();

/*  function timercallback(update) {  //update marker if is the same regno and same route
    if((currlat!=0) && (currlong !=0)){
      if(currlat != element.lati && currlong !=element.long && currregno == element.reg_no){
        marker.remove();
        marker= L.marker([element.lati, element.long], {icon: myIcon}).bindPopup(displayregno).addTo(mymap);
        marker.openPopup();
        console.log("update?")

   }*/


//JACK VERSION //
//  currmarker = L.marker([0.000,0.000])
//  L.marker([element.long, element.lati], {icon: myIcon}).addTo(mymap);
//  var movmarker = L.marker([element.long,element.lati], {icon: myIcon}).addTo(mymap)
//    .bindPopup("<b>STUPID INTERSECTION</b><br />VERY SLOW!").openPopup();
//  setInterval(timercallback, 1000);

/*	function timercallback() {

    if (currmarker!==marker){
    movmarker.remove()
    currmarker = marker;
    movmarker = L.marker([element.long,element.lati], {icon: myIcon}).addTo(mymap)
      .bindPopup("<b>STUPID INTERSECTION</b><br />VERY SLOW!").openPopup();
    }
    else {
    movmarker.remove()
    movmarker = L.currmarker([element.long,element.lati], {icon: myIcon}).addTo(mymap)
      .bindPopup("<b>STUPID INTERSECTION</b><br />VERY SLOW!").openPopup();
    }
	}
*/

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(mymap);
	}
	mymap.on('click', onMapClick);
</script>

{% endblock %}
