<!--This html document holds a simple registration interface-->

<!--Import line from a pre-defined formhelpers in the include dir-->
{% from "includes/helpers/_formhelpers.html" import render_field %}

{% block title %}
{% endblock %}

{% block head %}
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'includes/helpers/_space1br.html' %}<!use these to 'space vertically'>
  {% include 'includes/helpers/_space1br.html' %}

  <div class="row">
    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
      <div class="container">
        <h2 class="text-primary">Registering as {{typename}}</h2> <!Editable Header>
        <p class="text-warning">Please key in your details</p> <!Warning line>
        <p class="text-danger">{{warning_string}}</p> <!Error line>
          {% include 'includes/helpers/_space1br.html' %}
        <form class="form-group" method="POST" action="{{url_for('sysnologin.register',token=token)}}">
            {{ form.hidden_tag() }}
            <dl>
            {% for field in form %}
            {% if field.id == "csrf_token" %}
            <!--Do nothing-->
            {% else %}
            {{ render_field(field)}}
            {% include 'includes/helpers/_space1br.html' %}
            {% endif %}
            {% endfor %}
            </dl>
          <button class="btn btn-block btn-long btn-warning" type="submit">Register</button>
          <!Editable Button Text>
        </form>
      </div> <!-- /container -->
    </div>
    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3"></div>
  </div>
</div>
{% endblock %}
