<!--This html document holds a simple registration interface-->

<!--Import line from a pre-defined formhelpers in the include dir-->
{% from "includes/helpers/_formhelpers.html" import render_field %}

{% block title %}
{% endblock %}

{% block head %}
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'includes/helpers/_space1br.html' %}<!use these to 'space vertically'>
  {% include 'includes/helpers/_space1br.html' %}

  <div class="row">
    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
      <div class="container">
        <h2 class="text-primary">User Login</h2> <!Editable Header>
          {% include 'includes/helpers/_space1br.html' %}
        <form class="form-group" method="POST" action="{{url_for('auth.login')}}">
            {{ form.hidden_tag() }}
            <dl>
            {% for field in form %}
            {% if field.id == "csrf_token" %}
            <!--Do nothing-->
            {% else %}
            {{ render_field(field)}}
            {% include 'includes/helpers/_space1br.html' %}
            {% endif %}
            {% endfor %}
            </dl>
          <button class="btn btn-default" type="submit">Login</button><!Editable Button Text>
        </form>
      </div> <!-- /container -->
    </div>
    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
  </div>
</div>
{% endblock %}
