<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">

	<ul class="nav side-menu">
		<br/>
		<h3>{{ PAGE_MAIN_TITLE }}</h3>
		<br/>
		<li><a><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<li><a href="{{ url_for('home.home', username=current_user.username) }}">Welcome</a></li>
		</ul>
		</li>

		<li><a><i class="fa fa-user"></i>Admin<span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<!Administrator's Column>
			<li><a href="{{ url_for('admintools.useradd', username=current_user.username) }}">Add system user</a></li>
			<li><a href="{{ url_for('admintools.userlist', username=current_user.username) }}">List system users</a></li>

		</ul>
		</li>

		<li><a><i class="fa fa-bar-chart-o"></i>Data View<span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<!Insert database urls here>
			<li><a href="{{ url_for('Bus_Driver_Data.bus_add', username=current_user.username) }}">Add Bus Driver</a></li>
			<li><a href="{{ url_for('Bus_Driver_Data.bus_list', username=current_user.username) }}">List Bus Driver</a></li>
		</ul>
		</li>

		<li><a><i class="fa fa-th-list"></i>Overview<span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<!Insert resource urls here>

		</ul>
		</li>

		<li><a><i class="fa fa-table"></i>Debugging<span class="fa fa-chevron-down"></span></a>
		<ul class="nav child_menu">
			<!Debug navbars> <!TODO LOGGING FILE DISPLAY>
			<li><a href="{{ url_for('admintools.logview', logtype='user') }}">User Logs</a></li>
			<li><a href="{{ url_for('admintools.logview', logtype='sys') }}">System Logs</a></li>
			<li><a href="{{ url_for('admintools.logview', logtype='oper') }}">Operational Logs</a></li>
		</ul>
		</li>

		<li><a href="{{ url_for('auth.logout', username=current_user.username) }}">Logout</a></li>
	</ul>
	</div>
</div>
