<!--This is the main import file use for data tables css. used in datatable html files-->
<!--Introduced 9/1/2019-->
<!--___________________________________Persistent-CSS-DATATABLES___________________________________-->

<!-- Datatables -->
<link href="{{url_for('static',filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">

<!--___________________________________/Persistent-CSS-DATATABLES__________________________________-->
