<!--This is the main import file use for standard javascript. used in support.html under standard/-->
<!--Introduced 9/1/2019-->
<!--_________________________________________Persistent_________________________________________-->

<!-- jQuery -->
<script src="{{url_for('static',filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{url_for('static',filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- FastClick -->
<script src="{{url_for('static',filename='vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{url_for('static',filename='vendors/nprogress/nprogress.js')}}"></script>
<!-- icheck js -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>


<!--form js-->
<script src="{{url_for('static', filename='vendors/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap/form.js')}}"></script>
<script src="{{url_for('static', filename='vendors/datepicker/daterangepicker.js')}}"></script>



<!--_________________________________________/Persistent_________________________________________-->
